.site-main {}

.site-layout-container {
    max-width: 1000px;
    margin: auto;
}

.home .content-wrapper {
    /* display: flex; */
}

.home .content-wrapper .post {
    /* margin-right: 30px; */
}

.home .content-wrapper .post:last-child {
    margin-right: 0;
}

.entry-title a {
    font-size: 16px;
    text-decoration: none;
    color: #333;
}

.flex-container {
    display: flex;
    gap: 5%;
}